<p id="notice"><%= notice %></p>

<h1>Wazas</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wazas.each do |waza| %>
      <tr>
        <td><%= Type.find_by(id: waza.type_id).name %></td>
        <td><%= waza.name %></td>
        <td><%= link_to 'Show', waza %></td>
        <td><%= link_to 'Edit', edit_waza_path(waza) %></td>
        <td><%= link_to 'Destroy', waza, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Waza', new_waza_path %>
